@import "../../css/vars.scss";

.search {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.search-box {
  transition: 0.3s ease border-color, 0.3s ease box-shadow;
  width: 100%;
  padding: 20px;

  border-radius: 10px;
  border: 1px solid transparent;
  background: white;
  box-shadow: $boxShadow500;

  font-family: $headingFont;
  font-size: 20px;
  font-weight: 500;
  color: $K800;

  &:focus {
    outline: none;
    border-color: $blue;
    box-shadow: $boxShadowFocus;
  }
}

ul.options {
  list-style: none;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;

  background: white;
  box-shadow: $boxShadow500;

  li {
    display: block;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-radius: 2px;

    &:hover {
      color: $green;
      cursor: pointer;
      transition: 0.3s all;
    }

    &.option-active {
      background: $K100;
      color: $green;
    }
  }
}

.no-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;

  font-size: 14px;
  color: $K500;
}
