.about {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;

  h3 {
    font-size: 18px;
    font-weight: 700;

    b {
      font-weight: 850;
    }
  }

  .about-links {
    display: flex;
    gap: 20px;

    a {
      font-size: 16px;
      color: var(--accent);
      font-weight: 800;

      &:hover {
        color: var(--accent-hover);
      }
    }
  }
}
