.globe-wrap {
  $border-radius: 60px;

  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  border-radius: $border-radius;
  background: var(--K150);

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 0 20px rgba(var(--K800-rgb), 0.4);
  }

  .globe {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      position: absolute;
    }
  }
}
