.globe-wrap {
  $border-radius: 20px;

  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  border-radius: $border-radius;
  background: var(--K150);
  background: var(--map-water);

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    box-shadow: inset 0 0 6px rgba(var(--black-rgb), 0.1),
      inset 0 0 16px rgba(var(--black-rgb), 0.1);
  }

  .globe {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      position: absolute;
    }
  }

  .globe-na {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-weight: 700;
    color: var(--K500);
  }
}
