.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 10px 20px 30px;
  flex-shrink: 0;

  border-bottom: 1px solid var(--K200);

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    h2 {
      font-size: 18px;
      font-weight: 800;
      color: var(--K700);
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 20px;

      div {
        display: flex;
        gap: 4px;

        span {
          font-size: 14px;
          font-weight: 600;
          color: var(--K500);
          line-height: 1;
        }

        button {
          font-size: 14px;
          font-weight: 800;
          color: var(--accent);
          line-height: 1;

          &:hover {
            color: var(--accent-hover);
          }
        }

        @media (max-width: 420px) {
          &.header__left__info__win {
            display: none;
          }
        }
      }
    }
  }

  .header-menu-btn {
    display: flex;

    svg {
      width: 32px;
      height: 32px;
      fill: var(--accent);
    }

    &:disabled {
      svg {
        fill: var(--K400);
      }
    }
  }
}
