.keyboard-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.keyboard-value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;

  border-radius: 8px;
  border: 1px solid var(--K300);
  background: var(--white);

  span {
    font-size: 18px;
    color: var(--K800);
  }

  .keyboard-value-clear {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--K400);
    }

    &:hover svg {
      fill: var(--incorrect);
    }
  }
}

.keyboard-matches {
  $matches-height: 42px;
  $matches-gap: 8px;
  $border-radius: 8px;

  overflow: hidden;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-bottom: $matches-gap;

  display: flex;
  flex-direction: column;

  border-radius: $border-radius;
  background: var(--white);
  box-shadow: 1px 2px 4px rgba(var(--K800-rgb), 0.1),
    2px 4px 12px rgba(var(--K800-rgb), 0.1);

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: $matches-height;
    padding: 0 12px;

    background: transparent;

    font-size: 19px;
    font-weight: 750;
    color: var(--accent);
    line-height: 1;

    &.match-btn--selected,
    &:hover {
      color: var(--accent-hover);
      background: rgba(var(--accent-rgb), 0.15);
    }
  }
}

.keyboard {
  $key-gap: 6px;
  $max-keys-per-row: 10;
  $key-width: calc(
    (100% / $max-keys-per-row) - $key-gap / ($max-keys-per-row - 1)
  );
  $key-height: 54px;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $key-gap;

  .kb-row {
    $offset: 36px;

    display: flex;
    gap: $key-gap;
    width: calc(100% + $offset);
    margin-left: calc($offset / 2 * -1);

    &:nth-child(2) {
      padding-left: calc($key-width * 0.4);
      padding-right: calc($key-width * 0.5);
    }
    &:nth-child(3) {
      padding-left: calc($key-width * 0.8);
    }

    .kb-key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $key-width;
      height: $key-height;

      border-radius: 4px;
      background: var(--white);
      box-shadow: 1px 2px 4px rgba(var(--K800-rgb), 0.15);

      font-size: 18px;
      font-weight: 750;
      text-transform: capitalize;
      color: var(--K800);

      svg {
        width: 24px;
        height: 24px;
        fill: var(--K800);
      }

      &:hover {
        background: rgba(var(--K200), 0.2);
        color: var(--K600);
        box-shadow: 1px 2px 4px rgba(var(--K800-rgb), 0.1);

        svg {
          fill: var(--accent-hover);
        }
      }

      &--backspace,
      &--select {
        width: calc($key-width * 2.2);
      }
      &--select {
        border: 2px solid rgba(var(--accent-rgb), 0.8);
        background: rgba(var(--accent-rgb), 0.2);

        svg {
          fill: var(--accent-hover);
        }
      }
      &--space {
        flex: 1;
        margin-left: calc($key-width * 2.2);
      }

      &:disabled {
        border: unset;
        background: var(--K200);
        box-shadow: 1px 2px 4px rgba(var(--K800-rgb), 0.1);

        svg {
          fill: var(--K300);
        }
      }
    }
  }
}
