.menu-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--K100-rgb), 0.4);
}

.menu {
  position: absolute;
  z-index: 11;
  display: flex;
  top: 100%;
  right: 0;
  width: 260px;
  max-width: calc(100vw - 40px);
  margin-top: -6px;
  padding: 12px 0;

  border: unset;
  border-radius: 8px;
  background: var(--white);
  box-shadow: 1px 2px 12px rgba(var(--K800-rgb), 0.1),
    2px 4px 24px rgba(var(--K800-rgb), 0.1);

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
      transition: 0.1s ease all;
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0 20px;

      font-size: 18px;
      font-weight: 800;
      color: var(--K700);

      &:hover {
        color: var(--accent-hover);
        background: rgba(var(--accent-hover-rgb), 0.08);
      }
    }
  }
}
