.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;

  &__flag-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(1px 2px 6px rgba(var(--K800-rgb), 0.1))
        drop-shadow(3px 6px 20px rgba(var(--K800-rgb), 0.15));
    }

    @media (max-height: 700px) {
      height: 200px;
    }
    @media (max-height: 600px) {
      height: 180px;
    }
  }

  .answer-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    &--show-true {
      pointer-events: none;
    }

    .answer-btn {
      transition: 0.2s ease all;
      cursor: pointer;
      width: 100%;

      height: 50px;

      border-radius: 8px;
      border: 2px solid transparent;
      background: rgba(var(--accent-rgb), 0.12);

      color: var(--accent);

      font-size: 18px;
      font-weight: 700;

      @media (max-height: 700px) {
        height: 46px;
      }
      @media (max-height: 600px) {
        height: 40px;
      }

      &:hover {
        color: var(--accent-hover);
        border-color: var(--accent-hover);
        background: rgba(var(--accent-hover-rgb), 0.15);
      }

      &--correct {
        color: var(--correct);
        border-color: var(--correct);
        background: rgba(var(--correct-rgb), 0.2);
      }
      &--incorrect {
        color: var(--incorrect);
        border-color: var(--incorrect);
        background: rgba(var(--incorrect-rgb), 0.2);
      }
      &--neither {
        color: var(--K300);
        background: rgba(var(--K300-rgb), 0.1);
      }
    }
  }
}

.status {
  $bar-height: 50px;
  $bar-border: 4px;
  $bar-inner: calc($bar-height - $bar-border * 2);

  display: flex;
  width: 100%;
  height: $bar-height;
  gap: 4px;
  padding: 0 8px;

  border-radius: calc($bar-height / 2);
  border: 4px solid var(--white);
  background: var(--white);
  box-shadow: 1px 2px 6px rgba(var(--K800-rgb), 0.1),
    3px 6px 20px rgba(var(--K800-rgb), 0.15);

  .status-percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;

    font-size: 16px;
    font-weight: 800;
  }

  .status-count {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $bar-inner;
    height: $bar-inner;

    background: var(--K100);

    font-size: 16px;
    font-weight: 800;

    &__num {
      display: flex;
      align-items: center;
      justify-content: center;

      width: $bar-inner;
      height: $bar-inner;

      color: var(--white);
    }

    &--theme-correct .status-count__num {
      background: var(--correct);
    }
    &--theme-incorrect .status-count__num {
      background: var(--incorrect);
    }
  }

  .settings-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;

    background: unset;
    border: unset;

    svg {
      fill: var(--K800);
    }

    &:hover svg {
      fill: var(--accent-hover);
    }
  }
}

.status-bar {
  overflow: hidden;

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  background: var(--K100);

  &__progress {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;

    background: var(--accent);

    animation-name: animateWidth;
    animation-timing-function: linear;
  }

  span {
    position: relative;
    z-index: 2;
    font-weight: 750;
  }

  &--correct {
    .status-bar__progress {
      background: rgba(var(--correct-rgb), 0.3);
    }
    span {
      color: var(--correct);
    }
  }
  &--incorrect {
    .status-bar__progress {
      background: rgba(var(--incorrect-rgb), 0.3);
    }
    span {
      color: var(--incorrect);
    }
  }
}

@keyframes animateWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
