$matches-height: 50px;
$matches-gap: 8px;
$border-radius: 8px;

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  max-height: 700px;
  gap: 12px;
  padding: 20px 30px 30px;

  &__country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 100%;

    span {
      font-size: 14px;
      font-weight: 600;
      color: var(--K600);
    }

    &__top {
      $top-gap: 12px;

      display: flex;
      align-items: center;
      width: 100%;
      gap: 12px;

      // Only show capital when typing on small screens
      // Capital is needed to differentiate between some flags
      @media (max-height: 480px) {
        @at-root .question--mode-type .question__country__top {
          display: none;
        }
      }

      &__left {
        width: calc(100% - var(--minimap-size) - $top-gap);
      }

      &__right {
        position: relative;
      }

      @media (max-width: 330px) {
        &__right {
          display: none;
        }
      }
    }

    &__bottom {
      position: relative;
      display: flex;
      flex: 1;
    }

    &__flag {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 12px;

      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        filter: drop-shadow(1px 2px 4px var(--K400))
          drop-shadow(2px 4px 16px var(--K300));

        @media (max-height: 750px) {
          height: 150px;
        }
        @media (max-height: 700px) {
          height: 120px;
        }
        @media (max-height: 600px) {
          height: 100px;
        }
      }

      @at-root .question--mode-type &#{&} {
        justify-content: flex-start;
        padding: 30px 0 20px;

        @media (max-height: 480px) {
          padding: 0;

          img {
            height: 120px;
          }
        }
      }

      &__capital {
        display: none;
        align-items: center;
        gap: 6px;

        @media (max-height: 480px) {
          @at-root .question--mode-type &#{&} {
            display: flex;
          }
        }

        svg {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          fill: var(--K700);
        }
        span {
          font-size: 15px;
          font-weight: 800;
          color: var(--K700);
        }
      }
    }

    .other-flag {
      overflow: hidden;
      position: absolute;
      z-index: 3;
      width: var(--minimap-size);
      top: 50%;
      right: -12px;
      transform: translate(0, -50%);

      border-radius: $border-radius;
      background: var(--white);
      box-shadow: inset 0 0 0 2px rgba(var(--incorrect-rgb), 0.6),
        1px 2px 6px rgba(var(--K800-rgb), 0.15),
        6px 6px 20px rgba(var(--K800-rgb), 0.1);

      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        width: var(--minimap-size);
        padding: 12px 0;

        background: rgba(var(--incorrect-rgb), 0.2);
      }

      span {
        font-weight: 800;
        color: var(--incorrect-dark);
        text-align: center;
      }

      img {
        width: 96px;
        height: 70px;
        object-fit: contain;
        filter: drop-shadow(1px 2px 4px rgba(var(--K800-rgb), 0.2));
      }
    }
  }

  .country-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 8px;

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        fill: var(--K700);
      }
      span {
        font-size: 15px;
        font-weight: 800;
        color: var(--K700);

        &.country-info-pale {
          color: var(--K300);
        }
        &.country-info-large {
          padding: 8px 0;
          font-size: 22px;
        }
      }
    }
  }

  .answer-btns {
    $col-gap: 6px;

    display: flex;

    gap: $col-gap;
    width: 100%;

    &--show-true {
      pointer-events: none;
    }

    @at-root .question--mode-name#{&} {
      flex-direction: column;
    }
    @at-root .question--mode-flag#{&} {
      flex-wrap: wrap;
    }

    .answer-btn {
      position: relative;
      transition: 0.2s ease all;
      cursor: pointer;

      border-radius: $border-radius;
      border: 2px solid transparent;
      background: rgba(var(--accent-rgb), 0.1);

      @at-root .question--mode-name#{&} {
        width: 100%;
        height: 48px;
        padding: 0 12px;

        font-size: 19px;
        font-weight: 750;
        color: var(--accent);
        line-height: 1;
      }
      @at-root .question--mode-flag#{&} {
        width: calc(50% - $col-gap / 2);
        height: 140px;
        padding: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          filter: drop-shadow(1px 2px 4px rgba(var(--K800-rgb), 0.2));
        }
      }

      &:hover {
        color: var(--accent-hover);
        border-color: var(--accent-hover);
        background: rgba(var(--accent-hover-rgb), 0.15);
      }

      &--correct {
        color: var(--correct-dark);
        border-color: var(--correct);
        background: rgba(var(--correct-rgb), 0.2);
      }
      &--incorrect {
        color: var(--incorrect-dark);
        border-color: var(--incorrect);
        background: rgba(var(--incorrect-rgb), 0.2);
      }
      &--neither {
        color: var(--K300);
        background: rgba(var(--K300-rgb), 0.1);
      }

      &-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        animation-name: animateWidth;
        animation-timing-function: ease;

        &--correct {
          background: rgba(var(--correct-rgb), 0.2);
        }
        &--incorrect {
          background: rgba(var(--incorrect-rgb), 0.2);
        }
      }
    }
  }
}

@keyframes animateWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.question-typing {
  $hint-width: 60px;

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;

  &__input {
    position: relative;

    input[type="text"] {
      transition: 0.1s ease all;
      width: calc(100% - $hint-width);
      height: $matches-height;
      padding: 8px 12px;

      font-size: 18px;

      border-radius: $border-radius;
      border: 1px solid var(--K300);
      background: var(--white);

      font-size: 18px;
      font-weight: 600;
      color: var(--K800);

      &:hover {
        border-color: var(--K400);
        box-shadow: 0 0 8px rgba(var(--K700-rgb), 0.2);
      }

      &:focus {
        outline: none;
        border-color: var(--accent);
        box-shadow: 0 0 0 3px rgba(var(--accent-rgb), 0.3);
      }

      &::placeholder {
        color: var(--K300);
      }
    }

    .question-typing-clear {
      position: absolute;
      top: 50%;
      right: calc(10px + $hint-width);
      transform: translateY(-50%);
      display: flex;

      svg {
        width: 24px;
        height: 24px;
        fill: var(--K400);
      }

      &:hover svg {
        fill: var(--incorrect);
      }
    }

    .question-typing-hint {
      position: absolute;
      top: 0;
      right: 0;
      width: $hint-width;
      height: $matches-height;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 16px;
      font-weight: 700;
      color: var(--accent);

      &:hover {
        color: var(--accent-hover);
      }
    }

    &__matches {
      overflow: hidden;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin-bottom: $matches-gap;

      display: flex;
      flex-direction: column;

      border-radius: $border-radius;
      background: var(--white);
      box-shadow: 1px 2px 4px rgba(var(--K800-rgb), 0.1),
        2px 4px 12px rgba(var(--K800-rgb), 0.1);

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        min-height: $matches-height;
        padding: 0 12px;

        background: transparent;

        font-size: 19px;
        font-weight: 750;
        color: var(--accent);
        line-height: 1;

        &.match-btn--selected,
        &:hover {
          color: var(--accent-hover);
          background: rgba(var(--accent-rgb), 0.15);
        }
      }
    }

    .question-typing-result-wrap {
      position: absolute;
      bottom: 100%;
      width: 100%;
      height: $matches-height;
      margin-bottom: $matches-gap;

      border-radius: $border-radius;
      background: white;

      .question-typing-result {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        border-radius: $border-radius;
        border: 2px solid transparent;
        background: transparent;

        font-size: 19px;
        font-weight: 750;

        &__bar {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 0;
          animation-name: animateWidth;
          animation-timing-function: ease;
        }

        &--correct {
          color: var(--correct-dark);
          border-color: var(--correct);
          background: rgba(var(--correct-rgb), 0.2);

          .question-typing-result__bar {
            background: rgba(var(--correct-rgb), 0.2);
          }
        }
        &--incorrect {
          color: var(--incorrect-dark);
          border-color: var(--incorrect);
          background: rgba(var(--incorrect-rgb), 0.2);

          .question-typing-result__bar {
            background: rgba(var(--incorrect-rgb), 0.2);
          }
        }
      }
    }
  }

  .auto-pick {
    display: flex;
    align-items: center;
    gap: 6px;

    font-weight: 600;
    color: var(--K600);
  }
}
