.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 800px;
  gap: 12px;

  &__country {
    $col-gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: $col-gap;

      &__left {
        flex: 1;
      }

      &__right {
        position: relative;
      }

      @media (max-width: 360px) {
        &__right {
          display: none;
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $col-gap;

      &__left {
        display: flex;
        flex: 1;
      }
      &__right {
        display: flex;
        justify-content: center;
        width: var(--minimap-size);
        flex-shrink: 0;
      }

      @media (max-width: 360px) {
        &__right {
          display: none;
        }
      }
    }

    span {
      font-size: 14px;
      font-weight: 600;
      color: var(--K600);
    }

    .confidence {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;

      .confidence-bar {
        $bar-height: 10px;

        overflow: hidden;
        position: relative;

        width: 80px;
        height: $bar-height;

        border-radius: calc($bar-height / 2);
        background: var(--K300);

        &__middle {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 50%;
          bottom: 0;
          width: 2px;
          margin-left: -1px;
          background: var(--K500);
        }

        &__indicator {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          height: 100%;

          background: var(--K700);
        }
      }
    }

    &__flag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        width: 100%;
        height: 240px;
        object-fit: contain;
        filter: drop-shadow(1px 2px 4px var(--K300))
          drop-shadow(2px 4px 16px var(--K300));

        @media (max-height: 750px) {
          height: 180px;
        }
        @media (max-height: 700px) {
          height: 150px;
        }
        @media (max-height: 650px) {
          height: 130px;
        }
      }
    }

    .other-flag {
      overflow: hidden;
      position: absolute;
      z-index: 3;
      width: var(--minimap-size);
      height: var(--minimap-size);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border-radius: 12px;
      background: var(--white);
      box-shadow: 1px 2px 8px rgba(var(--K800-rgb), 0.15),
        1px 2px 12px rgba(var(--K800-rgb), 0.15);

      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 8px;
        gap: 8px;
        width: var(--minimap-size);
        height: var(--minimap-size);

        background: rgba(var(--incorrect-rgb), 0.2);
      }

      span {
        font-weight: 800;
        color: var(--incorrect-dark);
        text-align: center;
      }

      img {
        max-width: 120px;
        height: 60px;
        object-fit: contain;
        filter: drop-shadow(1px 2px 4px rgba(var(--K800-rgb), 0.2));
      }
    }
  }

  .country-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;

    font-size: 14px;
    font-weight: 600;
    color: var(--K700);
  }

  .answer-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    @media (max-height: 700px) {
      gap: 8px;
    }

    &--show-true {
      pointer-events: none;
    }

    .answer-btn {
      transition: 0.2s ease all;
      cursor: pointer;
      width: 100%;

      height: 50px;

      border-radius: 8px;
      border: 2px solid transparent;
      background: rgba(var(--accent-rgb), 0.1);

      font-size: 20px;
      font-weight: 750;
      color: var(--accent);
      line-height: 1;

      @media (max-height: 700px) {
        font-size: 18px;
        height: 46px;
      }
      @media (max-width: 420px) {
        font-size: 18px;
      }
      @media (max-height: 600px) {
        font-size: 16px;
        height: 38px;
      }

      &:hover {
        color: var(--accent-hover);
        border-color: var(--accent-hover);
        background: rgba(var(--accent-hover-rgb), 0.15);
      }

      &--correct {
        color: var(--correct-dark);
        border-color: var(--correct);
        background: rgba(var(--correct-rgb), 0.2);
      }
      &--incorrect {
        color: var(--incorrect-dark);
        border-color: var(--incorrect);
        background: rgba(var(--incorrect-rgb), 0.2);
      }
      &--neither {
        color: var(--K300);
        background: rgba(var(--K300-rgb), 0.1);
      }
    }
  }
}

@keyframes animateWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
