.settings-modal {
  width: 340px;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 30px;

  .settings-pop-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    color: var(--K600);
  }

  .settings-reset-btn {
    transition: 0.2s ease color;
    font-size: 16px;
    font-weight: 800;
    color: var(--K600);

    &:hover {
      color: var(--incorrect);
    }
  }
}
