@import "./vars.scss";
@import "../components/header/header.scss";
@import "../components/question/score.scss";
@import "../components/study/study.scss";

body {
  margin: 0;
  padding: 0;
  background: $K100;
  font-family: $headingFont;
}

input,
button {
  font-family: $headingFont;
}

* {
  box-sizing: border-box;
}

// Layout
.layout {
  display: flex;

  // Center
  &-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
  }

  // Top
  &-top {
    flex: 0;
  }
  // Bottom
  &-bottom {
    flex: 0;
  }
}

// Flag
.flag {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
    height: 100%;

    box-shadow: $boxShadow600;
    // box-shadow: 0 0 0 10px green;
  }

  &-guess-text {
    width: 300px;
    height: auto;
  }
}

// Question: Flag
.question {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;

  .instructions {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $K600;
  }

  .country-name {
    margin-top: -10px;
    font-size: 36px;
    font-weight: 700;
    color: $K800;
  }

  .flag {
    width: 100%;
    height: 300px;
    padding: 0 20px;
  }
}

// Buttons
button {
  border: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.next-question {
    transition: 0.3s ease background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

    border-radius: 8px;

    font-size: 20px;
    font-weight: 600;

    &:disabled {
      background: $K200;
      color: $K400;
    }

    &:not(:disabled) {
      background: $blue;
      box-shadow: $boxShadow500;
      color: $white;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}

.button-group {
  display: flex;
  margin-bottom: 40px;
}

// Names
.options-name {
  flex-direction: column;

  button {
    // transition: 0.2s ease color, 0.2s ease background-color,
    //   0.2s ease box-shadow, 0.3s ease border-color;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 60px;
    padding: 0 20px;

    border: 0;
    border-radius: 8px;
    background: transparent;

    font-size: 20px;
    font-weight: 600;
    color: $blue;
    width: 100%;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:focus,
      &:hover {
        outline: none;
        background: $white;
        box-shadow: $boxShadow500;
      }
    }

    &:disabled {
      color: $K300;

      &.correct-guessed {
        background-color: $green;
        color: $white;
      }
      &.correct-not-guessed {
        color: $green;
      }
      &.incorrect-guess {
        background-color: $red;
        color: $white;
      }
    }
  }
}

// Flags
.options-flag {
  flex-wrap: wrap;

  button {
    transition: 0.2s ease background, 0.2s ease box-shadow;
    width: 50%;
    padding: 0;

    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 0 $white;

    .flag {
      height: 180px;
      padding: 20px;

      img {
        width: auto;
        height: 80%;
      }
    }

    &:not(:disabled) {
      &:focus,
      &:hover {
        outline: none;
        background: $white;
        box-shadow: $boxShadow500;
      }
    }

    &:disabled {
      &.correct-guessed,
      &.correct-not-guessed {
        box-shadow: inset 0 0 0 4px $green;
        background: rgba($green, 0.2);
      }
      &.incorrect-guess {
        box-shadow: inset 0 0 0 4px $red;
        background: rgba($red, 0.2);
      }
      &.other {
        opacity: 0.2;
        filter: grayscale(100%);
      }
    }
  }
}

// Result
.result {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;

  border-radius: 12px;
  box-shadow: $boxShadow500;

  font-size: 20px;
  color: white;

  &.correct {
    background: $green;
  }
  &.incorrect {
    background: $red;
  }
}

// Guess
.wrong-guess {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px 20px;

  border-radius: 12px;
  background: rgba($red, 0.05);

  &-text {
    font-size: 18px;
    font-weight: 500;
    color: $red;
  }

  .flag {
    width: 100px;
    height: 50px;
  }
}

// Info
.info {
  display: flex;
  margin-top: 40px;

  color: $K900;

  &-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
  }

  &-name {
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: 700;
  }
  &-capital {
    font-size: 18px;
    font-weight: 500;
  }

  &-flag {
    width: 50%;
    height: 200px;

    .flag {
      width: 100%;
      height: 100%;
    }
  }
}
