@import "./vars.scss";

body {
  margin: 0;
  padding: 0;
  background: $K100;
  font-family: $headingFont;
}

input,
button {
  font-family: $headingFont;
}

* {
  box-sizing: border-box;
}

// Layout
.layout {
  display: flex;

  // Center
  &-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
  }

  // Top
  &-top {
    flex: 0;
  }
  // Bottom
  &-bottom {
    flex: 0;
  }
}

// Header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    font-size: 16px;
    font-weight: 600;
    color: $K800;
  }
  .about {
    font-size: 14px;
    color: $K600;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}

// Score
.score {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 20px;

  border-radius: 10px;
  background: $white;
  box-shadow: $boxShadow500;

  // Top
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  // Percentage
  &-perc {
    font-size: 22px;
    font-weight: 600;
    color: $K800;
  }

  @mixin glow($color, $colorName) {
    @keyframes glow-#{$colorName} {
      0% {
        box-shadow: 0 0 0 $color;
      }
      50% {
        box-shadow: 0 0 4px 2px $color;
      }
      100% {
        box-shadow: 0 0 0 $color;
      }
    }
  }

  @include glow($red, "red");
  @include glow($green, "green");

  // Bar
  &-bar {
    $bar-radius: 8px;
    position: relative;
    display: flex;
    flex: 1;
    height: 10px;
    margin-left: 20px;

    border-radius: $bar-radius;
    background: $K100;
    box-shadow: 0 0 0 $white;

    // Result
    &-result {
      transition: width 1s ease;
      position: relative;
      z-index: 1;
      height: 100%;

      &-count {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        margin-top: 6px;
        margin-left: -30px;

        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-align: center;

        .correct & {
          color: $green;
        }
        .incorrect & {
          color: $red;
        }
      }

      &.highlight {
        z-index: 2;
      }

      &.correct {
        border-top-left-radius: $bar-radius;
        border-bottom-left-radius: $bar-radius;
        background: $green;

        &.highlight {
          animation: glow-green 1.2s;
          animation-iteration-count: 2;
        }
      }
      &.incorrect {
        border-top-right-radius: $bar-radius;
        border-bottom-right-radius: $bar-radius;
        background: $red;

        &.highlight {
          animation: glow-red 1.2s;
          animation-iteration-count: 2;
        }
      }
    }
  }

  // Bottom
  &-bottom {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 500;
    color: $K600;

    span {
      margin-right: 16px;
    }

    button {
      cursor: pointer;
      transition: 0.3s ease color, 0.3s ease border-color;
      margin-left: auto;
      padding: 6px 8px;

      border-radius: 4px;
      border: 1px solid $K300;
      background: transparent;

      font-size: 13px;
      font-weight: 500;
      color: $K500;

      &:hover,
      &:focus {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}

// Flag
.flag {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
    height: 100%;

    box-shadow: $boxShadow600;
    // box-shadow: 0 0 0 10px green;
  }

  &-guess-text {
    width: 300px;
    height: auto;
  }
}

// Question: Flag
.question {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;

  .instructions {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: $K600;
  }

  .country-name {
    margin-top: -10px;
    font-size: 36px;
    font-weight: 700;
    color: $K800;
  }

  .flag {
    width: 100%;
    height: 300px;
    padding: 0 20px;
  }
}

// Buttons
button {
  border: 0;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.next-question {
    transition: 0.3s ease background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

    border-radius: 8px;

    font-size: 20px;
    font-weight: 600;

    &:disabled {
      background: $K200;
      color: $K400;
    }

    &:not(:disabled) {
      background: $blue;
      box-shadow: $boxShadow500;
      color: $white;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}

.button-group {
  display: flex;
  margin-bottom: 40px;
}

// Names
.options-name {
  flex-direction: column;

  button {
    // transition: 0.2s ease color, 0.2s ease background-color,
    //   0.2s ease box-shadow, 0.3s ease border-color;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 60px;
    padding: 0 20px;

    border: 0;
    border-radius: 8px;
    background: transparent;

    font-size: 20px;
    font-weight: 600;
    color: $blue;
    width: 100%;

    &:not(:first-child) {
      margin-top: -1px;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:focus,
      &:hover {
        outline: none;
        background: $white;
        box-shadow: $boxShadow500;
      }
    }

    &:disabled {
      color: $K300;

      &.correct-guessed {
        background-color: $green;
        color: $white;
      }
      &.correct-not-guessed {
        color: $green;
      }
      &.incorrect-guess {
        background-color: $red;
        color: $white;
      }
    }
  }
}

// Flags
.options-flag {
  flex-wrap: wrap;

  button {
    transition: 0.2s ease background, 0.2s ease box-shadow;
    width: 50%;
    padding: 0;

    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 0 $white;

    .flag {
      height: 180px;
      padding: 20px;

      img {
        width: auto;
        height: 80%;
      }
    }

    &:not(:disabled) {
      &:focus,
      &:hover {
        outline: none;
        background: $white;
        box-shadow: $boxShadow500;
      }
    }

    &:disabled {
      &.correct-guessed,
      &.correct-not-guessed {
        box-shadow: inset 0 0 0 4px $green;
        background: rgba($green, 0.2);
      }
      &.incorrect-guess {
        box-shadow: inset 0 0 0 4px $red;
        background: rgba($red, 0.2);
      }
      &.other {
        opacity: 0.2;
        filter: grayscale(100%);
      }
    }
  }
}

// Result
.result {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;

  border-radius: 12px;
  box-shadow: $boxShadow500;

  font-size: 20px;
  color: white;

  &.correct {
    background: $green;
  }
  &.incorrect {
    background: $red;
  }
}

// Guess
.wrong-guess {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
  padding: 10px 20px;

  border-radius: 12px;
  background: rgba($red, 0.05);

  &-text {
    font-size: 18px;
    font-weight: 500;
    color: $red;
  }

  .flag {
    width: 100px;
    height: 50px;
  }
}

// Info
.info {
  display: flex;
  margin-top: 40px;

  color: $K900;

  &-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
  }

  &-name {
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: 700;
  }
  &-capital {
    font-size: 18px;
    font-weight: 500;
  }

  &-flag {
    width: 50%;
    height: 200px;

    .flag {
      width: 100%;
      height: 100%;
    }
  }
}
