@import "../../css/vars.scss";

// Score
.score {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 20px;

  border-radius: 10px;
  background: $white;
  box-shadow: $boxShadow500;

  // Top
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  // Percentage
  &-perc {
    font-size: 22px;
    font-weight: 600;
    color: $K800;
  }

  @mixin glow($color, $colorName) {
    @keyframes glow-#{$colorName} {
      0% {
        box-shadow: 0 0 0 $color;
      }
      50% {
        box-shadow: 0 0 4px 2px $color;
      }
      100% {
        box-shadow: 0 0 0 $color;
      }
    }
  }

  @include glow($red, "red");
  @include glow($green, "green");

  // Bar
  &-bar {
    $bar-radius: 8px;
    position: relative;
    display: flex;
    flex: 1;
    height: 10px;
    margin-left: 20px;

    border-radius: $bar-radius;
    background: $K100;
    box-shadow: 0 0 0 $white;

    // Result
    &-result {
      transition: width 1s ease;
      position: relative;
      z-index: 1;
      height: 100%;

      &-count {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        margin-top: 6px;
        margin-left: -30px;

        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-align: center;

        .correct & {
          color: $green;
        }
        .incorrect & {
          color: $red;
        }
      }

      &.highlight {
        z-index: 2;
      }

      &.correct {
        border-top-left-radius: $bar-radius;
        border-bottom-left-radius: $bar-radius;
        background: $green;

        &.highlight {
          animation: glow-green 1.2s;
          animation-iteration-count: 2;
        }
      }
      &.incorrect {
        border-top-right-radius: $bar-radius;
        border-bottom-right-radius: $bar-radius;
        background: $red;

        &.highlight {
          animation: glow-red 1.2s;
          animation-iteration-count: 2;
        }
      }
    }
  }

  // Bottom
  &-bottom {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 500;
    color: $K600;

    span {
      margin-right: 16px;
    }

    button {
      cursor: pointer;
      transition: 0.3s ease color, 0.3s ease border-color;
      margin-left: auto;
      padding: 6px 8px;

      border-radius: 4px;
      border: 1px solid $K300;
      background: transparent;

      font-size: 13px;
      font-weight: 500;
      color: $K500;

      &:hover,
      &:focus {
        border-color: $blue;
        color: $blue;
      }
    }
  }
}
